<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,800&family=Lilita+One&display=swap" rel="stylesheet">

block content
  head
    title ProjetLab
    style
      include ../public/stylesheets/index.css
  div(class="box2")
    h1 Login
    p= errorMessage
    header 
      a(href="/index") Home page
    form(action="/login", method="POST")
      label(for="username") Username
      input(type="text", id="username", name="username", required)
      label(for="password") Password
      input(type="password", id="password", name="password", required)
      button(type="submit") Log in
    a(href="/register") Not registered yet? Register